body{
	font-size: 20px;
}
table td{
	position: relative;
	text-align: left;
	padding: 3px;
}
table{
	border-collapse: collapse;
}
#division_math{
	border: 1px solid black;
	display: inline-block;
	padding: 4ex;
}
#division:not(.empty){
	display: inline-block;
	text-align: center;
}
table td#dividend{
	border-right: 3px solid black;
}
table td#divider{
	border-left: 3px solid black;
	border-bottom: 3px solid black;
}
table td#quotient{
	border-left: 3px solid black;
	border-top: 3px solid black;
}
table td.residual{
	border-top: 1px solid black;
}
table td.product:before{
	position: absolute;
	content: "—";
	top: -1ex;
	left: -2ex;
}
div.empty{
	display: none;
}
#input b,#output b{
	display: inline-block;
	text-align: right;
	padding-right: 1ex;
	font-size: 20px;
	width: 10ex;
}